@using DOAN.Models;
@model NGUOIDUNG

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    string anhcu = ViewBag.AnhCu;
}

@section header{
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard")">Trang chu</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index","User")">Nguoi dung</a></li>
            <li class="breadcrumb-item active">Chinh sua</li>
        </ol>
    </div>
}

@section script{
    <script type="text/javascript">
        function fileCheck(obj) {
            var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
            if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
            }
        }

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Chỉnh sửa</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    @using (Html.BeginForm("Edit", "NguoiDung",new {AnhCu=anhcu }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.IdUser)
                        @Html.HiddenFor(model => model.Password)
                        @Html.HiddenFor(model => model.Password1)
                        @Html.HiddenFor(model => model.NgayTao)
                        @Html.HiddenFor(model => model.TT_User)
                        @Html.HiddenFor(model => model.Username)


                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @for = "inputName" })
                                        @Html.TextBoxFor(model => model.HoTen, new { @type = "text", @class = "form-control", @id = "inputName", @placeholder = "Name", @autofocus = "autofocus" })
                                        @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputFile">Avatar</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                @Html.LabelFor(model => model.Avatar, "Choose File", new { @for = "Avatar", @class = "custom-file-label" })
                                                <input class="custom-file-input" type="file" name="Avatar" id="Avatar" onchange="fileCheck(this);" />
                                                @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @Html.LabelFor(model => model.GioiTinh, htmlAttributes: new { @for = "inputSex", @class = "mr-3" })
                            @Html.EditorFor(model => model.GioiTinh)
                            @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NgaySinh, htmlAttributes: new { @for = "inputBD" })
                                        @Html.TextBoxFor(model => model.NgaySinh, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @id = "inputBD" })
                                        @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.IdLoaiUser)
                                        @Html.DropDownList("IdLoaiUser", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.IdLoaiUser, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Mail, htmlAttributes: new { @for = "inputMail" })
                                        @Html.TextBoxFor(model => model.Mail, new { @type = "text", @class = "form-control", @id = "inputMail", @placeholder = "Phone" })
                                        @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SDT, htmlAttributes: new { @for = "inputPhone" })
                                        @Html.TextBoxFor(model => model.SDT, new { @type = "text", @class = "form-control", @id = "inputPhone", @placeholder = "Phone" })
                                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @for = "inputAddress" })
                                        @Html.TextBoxFor(model => model.DiaChi, new { @type = "text", @class = "form-control", @id = "inputAddress" })
                                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>



                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-info float-right">Lưu</button>
                        </div>
                    }
                </div>
                <!-- /.card -->


            </div>
            <!--/.col (left) -->

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

