@using DOAN.Models;
@model IEnumerable<HOADON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@section header{
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard")">Trang chu</a></li>
            <li class="breadcrumb-item active">Giao hang</li>
        </ol>
    </div>
}

@section script{
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });


    </script>
}

<!-- Main content -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @if (ViewBag.Error == 1)
                {
                    <div class="alert alert-warning">
                        <button type="button" class="close float-right" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        Quá trình thực hiện thất bại.
                    </div>
                }
                else if (ViewBag.Error == -1)
                {
                    <div class="alert alert-success">
                        Quá trình thực hiện thành công.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Giao hàng</h3>
                        <!-- Button trigger modal -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    @using (Html.BeginForm("Index", "GiaoHang", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-group">
                                            @Html.DropDownList("ddlTinhTrang", ViewBag.items as SelectList, "Tất cả các hoá đơn", new { @class = "form-control", @onchange = "this.form.submit();" })
                                        </div>
                                    }
                                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.IdHD)</th>
                                                <th>@Html.DisplayNameFor(model => model.NgayDH)</th>
                                                <th>@Html.DisplayNameFor(model => model.NGUOIDUNG.HoTen)</th>
                                                <th>@Html.DisplayNameFor(model => model.SDT)</th>
                                                <th>@Html.DisplayNameFor(model => model.DiaChi)</th>
                                                <th>@Html.DisplayNameFor(model => model.TongTien)</th>



                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr id="row1_@item.IdHD">
                                                    <td>
                                                        <a href="@Url.Action("ThayDoiTinhTrang","GiaoHang",new {id=item.IdHD})">@Html.DisplayFor(modelItem => item.IdHD)</a>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.NgayDH)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.NGUOIDUNG.HoTen)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.SDT)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.DiaChi)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.TongTien)
                                                    </td>
                                                    
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>

