@using DOAN.Models;
@model IEnumerable<HOADON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


@section header{
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard")">Trang chu</a></li>
            <li class="breadcrumb-item active">Hoa don</li>
        </ol>
    </div>
}

@section script{
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
        

    </script>
}

<!-- Main content -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @if (ViewBag.Error == 1)
                {
                    <div class="alert alert-warning">
                        <button type="button" class="close float-right" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        Quá trình thực hiện thất bại.
                    </div>
                }
                else if (ViewBag.Error == -1)
                {
                    <div class="alert alert-success">
                        Quá trình thực hiện thành công.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Hoá đơn</h3>
                        <!-- Button trigger modal -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    @using (Html.BeginForm("Index", "QLHoaDon", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-group">
                                            @Html.DropDownList("ddlTinhTrang", ViewBag.items as SelectList, "Tất cả các hoá đơn", new { @class = "form-control", @onchange = "this.form.submit();" })
                                        </div>
                                    }
                                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.IdHD)</th>
                                                <th>@Html.DisplayNameFor(model => model.NgayDH)</th>
                                                <th>@Html.DisplayNameFor(model => model.TongTien)</th>
                                                <th>Khách hàng</th>
                                                @if (ViewBag.GiaTri >= 5 && ViewBag.GiaTri <= 11 && ViewBag.GiaTri != 10)
                                                {
                                                    <th>Người duyệt</th>
                                                }
                                                <th></th>
                                                @if (ViewBag.GiaTri == 0 || ViewBag.GiaTri == 4)
                                                {
                                                    <th></th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr id="row1_@item.IdHD">
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.IdHD)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.NgayDH)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TongTien)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("ChiTietNguoiDung","NguoiDung",new {id=item.IdKH})">
                                                        @Html.DisplayFor(modelItem => item.NGUOIDUNG.HoTen)
                                                    </a>
                                                </td>
                                                @if (ViewBag.GiaTri >= 5 && ViewBag.GiaTri <= 11 && ViewBag.GiaTri != 10)
                                                {
                                                    <td>
                                                        @if (item.IdNV != null)
                                                        {
                                                            @Html.DisplayFor(modelItem => item.NGUOIDUNG1.HoTen)
                                                        }
                                                    </td>
                                                }
                                                
                                                <td>
                                                    <div class="btn-group btn-group-sm">
                                                        <a class="btn btn-info" href="@Url.Action("ChiTiet","QLHoaDon",new { id=item.IdHD})">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    </div>
                                                </td>

                                                @if (ViewBag.GiaTri == 0 || ViewBag.GiaTri == 4)
                                                {
                                                    <td>
                                                        @if (item.TinhTrang == 4)
                                                        {
                                                            <div class="btn-group btn-group-sm">
                                                                @*<a class="btn btn-success" onclick="return confirm('Bạn có chắc chắn xác nhận đơn hàng này?');" href="@Url.Action("XacNhan","QLHoaDon",new { id=item.IdHD})">
                            Xác nhận
                        </a>
                        <a class="btn btn-warning" onclick="return confirm('Bạn có chắc chắn huỷ bỏ đơn hàng này?');" href="@Url.Action("HuyBo","QLHoaDon",new { id=item.IdHD})">
                            Huỷ bỏ
                        </a>*@
                                                                @Ajax.ActionLink("Xác nhận", "XacNhan", new { id = item.IdHD }, new AjaxOptions { Confirm = "Bạn có chắc chắn xác nhận đơn hàng này?", OnComplete = "$('#row1_" + @item.IdHD + "').remove()", HttpMethod = "Post" }, new { @class = "btn btn-success" })
                                                                @Ajax.ActionLink("Huỷ bỏ", "HuyBo", new { id = item.IdHD }, new AjaxOptions { Confirm = "Bạn có chắc chắn huỷ bỏ đơn hàng này?", OnComplete = "$('#row1_" + @item.IdHD + "').remove()", HttpMethod = "Post" }, new { @class = "btn btn-danger" })
                                                            </div>
                                                        }
                                                    </td>
                                                }
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
    <i class="fas fa-chevron-up"></i>
</a>

